

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  background-color: white;
  padding: 15px 10px 0 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.main{
  height: 100vh;
  background-image: url("C:\Users\azhar\Downloads\4eaa5c3498d864fc640a2fd105ffb1b9.jpg");
  background-size: cover;
}

.card {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 50px;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}

.image img {
  transition: all 0.5s;
  height: 150px;
  width: auto;
}

.card:hover .image img {
  transform: scale(1.1)
}

.btn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}

.btn1 {
  height: 40px;
  width: 130px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px;
  border-radius: 35px;
}

.btn2 {
  height: 30px;
  width: 100px;
  border: none;
  background-color: #b73333;
  color: #ffffff;
  font-size: 12px;
  border-radius: 30px;
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.icons i {
  font-size: 19px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold
}

.date {
  background-color: #ccc
}