
.admin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* background-color:#b89cdc */
    background-image: url("../../../../public/images/—Pngtree—creative\ gradient\ light\ blue\ light_966311.jpg");
    background-size: cover;
}

.admin-login-form .admin-image img{
    height: 250px;
    width: auto;  
    margin: 0 35px 0 0; 
    transition: 0.3s ease-in-out;
}

.admin-login-form .admin-login h1{
    margin: 0 0 17px 0;
    font-weight: 700;
    font-size: 2.2rem;
}

.admin-login-form .admin-image img:hover{
    transform: scale(1.02);
}

.admin-login-form{
    border-radius: 35px;
    height: 370px;
    width: fit-content;
    background-color: white;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
    padding: 55px 45px 55px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.admin-login-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 0 0 5px;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    border-color: transparent;
}

.admin-login-form button{
    margin-top: 5px;
    width: 83%;
    height: 40px;
    border-radius: 10px;
    background-color: green;
    border: none;
    color: white;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}

