.admin-main{
    background-color: #f0f0f0
}


.admin-update-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* background-color: #b89cdc; */
    /* background-image: url("C:\Users\azhar\Downloads\4eaa5c3498d864fc640a2fd105ffb1b9.jpg");
    background-size: cover; */
}

.admin-update-form{
    border-radius: 35px;
    height: fit-content;
    width: fit-content;
    background-color: #435d7d;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
}

.admin-update-form .admin-update .heading h1{
    font-weight: 700;
    color: white;
}

.admin-updateup-form .admin-update p{
    cursor: pointer;
}

.admin-update{
    width: 100%;
}

.admin-update p{
    margin: 15px 0 0 0;
}

.admin-update .heading h1{
    margin: 0 0 20px 0;
}

.admin-update-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 0 0 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border-color: transparent;
}

.admin-update-form button{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 192, 0);
    border: none;
    color: white;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}

.image-selection input{
    text-align: center;
    padding: 5px;
    background-color: #e4d8f2;
    cursor: pointer;
}

.custom-file-upload {
    display: inline-block;
    width: 80%;
    height: 35px;
    padding: 8px 0 0 0;
    cursor: pointer;
    margin: 5px 0 10px 0;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
  }