 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background-color: white;
    padding: 15px 10px 0 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }


.user-update-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -67px; 
    height: 100vh;
    /* background-color: #b89cdc; */
    background-image: url("../../../../public/images/4eaa5c3498d864fc640a2fd105ffb1b9.jpg");
    background-size: cover;
}



.update-form{
    border-radius: 35px;
    height: fit-content;
    width: fit-content;
    background-color: white;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
}

.update-form .update .heading h1{
    font-weight: 700;
}

.update-form .update p{
    cursor: pointer;
}

.update{
    width: 100%;
}

.update p{
    margin: 15px 0 0 0;
}

.update .heading h1{
    margin: 0 0 20px 0;
}

.update-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 0 0 5px;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    border-color: transparent;
}

.update-form button{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: green;
    border: none;
    color: white;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}

.image-selection input{
    text-align: center;
    padding: 5px;
    background-color: #e4d8f2;
    cursor: pointer;
}

.custom-file-upload {
    display: inline-block;
    width: 80%;
    height: 35px;
    padding: 8px 0 0 0;
    cursor: pointer;
    margin: 5px 0 10px 0;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
  }